hardhat/node_modules
hardhat/.env

# Hardhat files
hardhat/cache
hardhat/artifacts

# TypeChain files
hardhat/typechain
hardhat/typechain-types

# solidity-coverage files
hardhat/coverage
hardhat/coverage.json

# Hardhat Ignition default folder for deployments against a local node
hardhat/ignition/deployments/chain-31337

#gas report
hardhat/gas-report
